.banner {
  display: none;
}

// mobile banner
.banner_mobile {
  display: block;
  padding: 40px 0;
  background: #3134DE;
  //background: linear-gradient(90deg, #BE7AF8 0%, #3134DE 33%, #3134DE 66%, #BE7AF8 100%);
  background: linear-gradient(90deg, var(--hbnc1) 0%, var(--hbnc2) 50%, var(--hbnc2) 50%, var(--hbnc1) 100%);
  text-align: center;
}

.banner_mobile .banner_link {
  color: #fff;
  font-size: 16px;
}



@media only screen and (min-width: 1024px) {
  .banner_mobile {
    display: none;
  }

  .banner {
    display: block;
    padding-top: 70px;
    background: #3134DE;
    //background: linear-gradient(90deg, #BE7AF8 0%, #3134DE 33%, #3134DE 66%, #BE7AF8 100%);
    background: linear-gradient(90deg, var(--hbnc1) 0%, var(--hbnc2) 50%, var(--hbnc2) 50%, var(--hbnc1) 100%);
  }

  .calligraphy {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .grid {
    display: block;
    position: relative;
    top: 80px;
    margin-bottom: 80px;
  }

  .grid_item {
    background-color: var(--bg11);
    border-radius: 8px;
    box-shadow: 0px 7px 13px rgba(71, 88, 114, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    height: 100%;
  }

  .title {
    color: var(--txt00);
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .text {
    font-family: Roboto;
    color: var(--txt11);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }

  .link {
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 26px;
  }

  .link_text {
    color: var(--txt12);
    transition: color 250ms ease;
  }

  .link_icon {
    margin-left: 8px;
  }

  .link_icon svg {
    fill: var(--txt12);
    transition: fill 250ms ease;
  }

  .link:hover .link_text {
    color: var(--main-color);
  }

  .link:hover .link_icon svg {
    fill: var(--main-color);
  }
}

@media only screen and (min-width: 960px) {
  .title {
    white-space: normal;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 72px;
  }

  .text {
    white-space: normal;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 72px;
  }
}