.paper {
  background-color: var(--bg11) !important;
}

.title {
  color: var(--txt11);
}

.desc {
  color: var(--txt13) !important;
}

.btn {
  color: var(--main-color) !important;
  text-transform: initial !important;
  //background-color: #F5F5F5 !important;
}
